.navigation {
    height: 2.5em;
    width: 45em;
    background-color: white;
    border-radius: 1.5em;
    display: flex;

    .nav-obj {
        height: 2.5em;
        width: 23.33em;

        p {
            margin: 0;
            padding: 0.28em 0;
            font-size: 1.2em;
            border: 2px solid white;
            border-radius: 1em;
            color: black;
        }
    }

    .nav-obj:hover {
        p:hover {
            border: 2px solid #F0A870;
            color: #F0A870;
            border-radius: 1em;
        }

    }
}